<p id="notice"></p>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
<h2>Log in</h2>

<%= form_with url: session_path do |form| %>
  <label for="user_name">Name</label><br>
  <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your name", value: params[:name] %><br>
  <label for="user_name">Password</label><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
 
  <%= form.check_box :remember_me %>
  <%= form.label :remember_me, "Remember me" %><br>

  <%= form.submit "Log in", class:"btn btn-sm btn-primary" %>
<% end %>
<%= link_to "sign up", new_user_path %><br>
<%= link_to "Forgot password?", new_password_path %>

  </div>
 </div>
</div>
