  <table class="table">
  <tbody>
    <% book.book_comments.each do |book_comment| %>
      <tr>
        <td style="border: none;">
          <%= link_to user_path(book_comment.user) do %>
            <% if book_comment.user.profile_image.attached? %>
              <%= image_tag book_comment.user.profile_image, size: "80x80" %>
            <% else %>
              <%= image_tag "default-image.jpg", size: "80x80" %>
            <% end %>
            <br>
            <%= book_comment.user.name %>
          <% end %>
        </td>

        <td style="vertical-align: middle; border: none;">
          <%= book_comment.comment %>
        </td>

        <td style="vertical-align: middle; border: none;">
          <% if book_comment.user == current_user %>
            <%= button_to "Destroy", book_book_comment_path(book_comment.book_id, book_comment.id), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>