<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>

<%= form_with model: @user do |f| %>

  <p>Name</p>
  <%= f.text_field :name %>

  <p>Image</p>
  <%= f.file_field :profile_image %>

  <p>Introduction</p>
  <%= f.text_area :introduction %>

  <%= f.submit "Update" %>

<% end %>